
#root {
  height: 97dvh;
  display: grid;
  grid-template-rows: auto auto 2fr;
  margin: 1%;
  border-radius: 20px;
  background-color: #979ee7;
  width: 100%;
overflow: hidden;


}
.map {
  width: 100%;
height: 99%;
overflow: hidden;
  border-radius: 2%;

}
nav,
header {
padding-bottom: 2px;



}
nav {
  display: flex;
  gap: 1em;

}
